[ii]
path = /usr/local/bin/ii
ircdir = ircdir
server = localhost
port = 6667
server_username = didnteditconf
server_password = soopersekretstring
channel = #didnteditconf

[general]
update_members_interval = 28800

[highlight_spam]
enabled = yes
mention_limit = 20
